.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: #57cef1; /* Puedes cambiar esto por el color que prefieras */
    padding: 0 20px; /* Padding opcional para un mejor aspecto */
}

.nav_left {
    display: flex;
    gap: 15px;
    list-style: none;
}

.nav_left li a {
    color: white; /* Cambia esto según el diseño */
    text-decoration: none;
}

#logout {
    background-color: #f00; /* Cambia esto por el color que prefieras */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
